{% load i18n wagtailimages_tags %}

{% if value.images %}
{% for item in value.images %}
{% image item.image max-1200x1200 as modal_image %}
<a {% if item.full_width %}class="full-width"{% endif %} data-bind="image-grid-modal" data-image-concept="{{ item.image.concept }}" data-image-height="{{ modal_image.height }}" data-image-materials="{{ item.image.get_materials|join:', ' }}" data-image-name="{{ item.image.translated_title }}" data-image-src="{{ modal_image.url }}" data-image-width="{{ modal_image.width }}" href="#" title="Link to {{ item.image.translated_title }}">
    <figure>
        {# Max sizes: desktop 1200 * 0.6, mobile 1000 * 0.6 #}
        {% image item.image width-180 as quarter_image %}
        {% image item.image width-360 as half_image %}
        {% image item.image width-600 as mobile_image %}
        {% image item.image width-720 as tmp_image %}
        <img
            {{ tmp_image.attrs }}
            srcset="{{ quarter_image.url }} 180w, {{ half_image.url }} 360w, {{ mobile_image.url }} 600w, {{ tmp_image.url }} 720w, {{ modal_image.url }} 1200w"
            sizes="(max-width: 1000px) 60vw, {% if item.full_width %}1200px{% else %}720px{% endif %}"
            style="object-position: {{ item.image.horizontal_position }} {{ item.image.vertical_position }};" />
        <figcaption>
            <h2>{{ item.image.translated_title }}</h2>
            {% if item.image.get_materials %}
            <h3>{{ item.image.get_materials|join:", " }}</h3>
            {% endif %}
            <h4>{% trans "Click Here..." %}</h4>
        </figcaption>
    </figure>
</a>
{% if item.full_width %}
<a class="full-width-spacer" href="#"></a>
<a class="full-width-spacer" href="#"></a>
<a class="full-width-spacer" href="#"></a>
{% endif %}
{% endfor %}
{% else %}
<p>{% trans "No images in the collection" %}</p>
{% endif %}
