{% load i18n static wagtailcore_tags yumeka_utils %}

<aside class="links">
    <a class="social" href="https://www.instagram.com/yum.s_/" target="_blank" title="{% trans 'Link to Instagram' %}">
        <img alt="{% trans 'Link to Instagram' %}" class="button" src="{% static 'images/vendor/instagram.svg' %}" title="{% trans 'Link to Instagram' %}" />
    </a>

    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% translate_url language.code %}" />
        <input name="language" type="hidden" value="{{ language.code }}">

        <button alt="{{ language.name_local }} ({{ language.code }})" title="{{ language.name_local }} ({{ language.code }})">
            <img class="visible" src="{% static 'images/flag-'|add:language.code|add:'-visible.png' %}" />
            <img class="hover" src="{% static 'images/flag-'|add:language.code|add:'-hover.png' %}" />
        </button>
    </form>
    {% endfor %}
</aside>