{% load i18n static wagtailcore_tags yumeka_utils %}

<input name="menu-toggle" type="checkbox" id="menu-toggle" />

<header id="home">
    {% get_root_page as root_page %}
    <a class="home" href="{% pageurl root_page %}" title="{% blocktrans with page=root_page.specific.translated_title %}Link to {{ page }}{% endblocktrans %}">
        <img alt="{% trans 'Yume' %}" src="{% static 'images/yume-signature.svg' %}" />
    </a>

    <label for="menu-toggle" id="menu-button">
        <img alt="{% trans 'Open menu' %}" class="button" src="{% static 'images/burger.svg' %}" />
    </label>
</header>
