{% load i18n static wagtailcore_tags yumeka_utils %}

<nav id="menu">
    {% get_menu_items as menu_items %}
    {% for menu_item in menu_items %}
    {% is_child_or_self self menu_item as is_child %}
    <h2>
        <a {% if is_child %} class="current-page"{% endif %} href="{% pageurl menu_item %}" title="{{ menu_item.translated_title }}">{{ menu_item.translated_title }}{% if is_child %}<span class="current-page-hint"> &gt;</span>{% endif %}</a>
    </h2>
    {% if is_child %}
    {% get_menu_item_children menu_item as menu_item_children %}
    {% for child in menu_item_children %}
    {% is_child_or_self self child as is_child %}
    <h3>
        <a {% if is_child %} class="current-page"{% endif %} href="{% pageurl child %}" title="{{ child.translated_title }}">{{ child.translated_title }}{% if is_child %}<span class="current-page-hint"> &gt;</span>{% endif %}</a>
    </h3>
    {% endfor %}
    {% endif %}
    {% endfor %}
</nav>
