{% load i18n static wagtailcore_tags %}

{% if items.has_previous or items.has_next %}
<nav class="block-paginator">
    {% if items.has_previous %}
    <form action="?" class="previous" method="get">
        {{ hidden_fields|safe }}
        <input type="hidden" name="page" value="{{ items.previous_page_number }}"/>
        <button class="image-button" type="submit">
            <figure>
                <img alt="{% trans 'Previous' %}" src="{% static 'images/arrow-previous.svg' %}" />
                <figcaption>{% trans 'Previous' %}</figcaption>
            </figure>
        </button>
    </form>
    {% else %}
    <span class="space"></span>
    {% endif %}

    {% if items.has_next %}
    <form action="?" class="next" method="get">
        {{ hidden_fields|safe }}
        <input type="hidden" name="page" value="{{ items.next_page_number }}"/>
        <button class="image-button" type="submit">
            <figure>
                <img alt="{% trans 'Next' %}" src="{% static 'images/arrow-next.svg' %}" />
                <figcaption>{% trans 'Next' %}</figcaption>
            </figure>
        </button>
    </form>
    {% endif %}
</nav>
{% endif %}
