{% load i18n static wagtailcore_tags %}

{% if sibling_previous or sibling_next %}
<nav class="block-siblings">
    {% if sibling_previous %}
    <a class="previous" href="{{ sibling_previous.url }}" title="{% blocktrans with page=sibling_previous %}Link to {{ page }}{% endblocktrans %}">
        <figure>
            <img alt="{% trans 'Previous' %}" src="{% static 'images/arrow-previous.svg' %}" />
            <figcaption>{% trans 'Previous' %}</figcaption>
        </figure>
    </a>
    {% else %}
    <span class="space"></span>
    {% endif %}

    {% if sibling_next %}
    <a class="next" href="{{ sibling_next.url }}" title="{% blocktrans with page=sibling_next %}Link to {{ page }}{% endblocktrans %}">
        <figure>
            <img alt="{% trans 'Next' %}" src="{% static 'images/arrow-next.svg' %}" />
            <figcaption>{% trans 'Next' %}</figcaption>
        </figure>
    </a>
    {% endif %}
</nav>
{% endif %}
