body.template-home article {
    @media #{$desktop} {
        grid-column: 1 / 3;
        grid-row: 2;
    }
}

article {
    width: 100%;

    @media #{$desktop} {
        grid-column: 2;
        grid-row: 1 / 4;
        margin: 0 auto;
        max-width: $article-max-width;
    }

    @media #{$mobile} {
        grid-column: 1;
        grid-row: 3;
    }

    & section.block-blog_entry, & section.block-event_entry {
        // If we are the first element in the article, have no padding top
        &:first-child > a > figure {
            padding-top: 0;
        }

        & > a {
            &:hover {
                color: $article-blog-entry-a-hover-color;
                text-decoration: none;
            }

            & > *, & > figure > figcaption > * {
                margin: 0;
            }

            & > figure {
                align-items: center;
                display: flex;
                padding: $article-padding 0;

                & > figcaption {
                    flex-grow: 1;

                    & > h2 {
                        font-size: 162%;
                    }

                    & > h4 {
                        font-size: 68.75%;
                        padding-top: calc(#{$article-padding} / 4);
                    }

                    & > p {
                        line-height: normal;
                        padding-top: calc(#{$article-padding} / 2);
                    }
                }

                & > img {
                    // Ensure that image doesn't shink unevenly between entries
                    flex-shrink: 0;
                    height: auto;
                    max-width: $article-blog-entry-picture-max-width;
                    min-width: $article-blog-entry-picture-min-width;
                    padding-right: $article-padding;
                    width: 30%;

                    &.block-event_entry__image--size-big {
                        width: 40%;
                    }
                }
            }
        }
    }

    & section.block-bullet_list, & section.block-numbered_list {
        text-align: justify;

        ol, ul {
            display: inline-block;
            margin: 0;
        }
    }

    & section.block-document, & section.block-link {
        & > a {
            display: block;
            padding: $article-padding 0;
        }
    }

    & section.block-embed {
        padding: $article-padding 0;

        & > div.responsive-object {
            position: relative;

            & div, & embed, & iframe, & object {
                height: 100%;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                max-width: 100% !important;
                min-width: unset !important;
                position: absolute !important;
                top: 0;
                width: 100%;
            }
        }

        & > div > .twitter-tweet {
            margin-left: auto;
            margin-right: auto;
        }
    }

    & .block-event_concept_grid {
        @media #{$desktop} {
            display: grid;
            grid-gap: $article-padding;
            grid-template-columns: repeat(auto-fill, $article-event-concept-grid-picture-size);
            grid-template-rows: repeat(auto-fill, $article-event-concept-grid-picture-size);
            justify-content: left;
            padding: $article-padding 0px;
        }

        &__anchor {
            @media #{$mobile} {
                display: block;
                height: $article-event-concept-grid-picture-size-mobile;
                padding-top: $main-body-padding-mobile;
                width: $article-event-concept-grid-picture-size-mobile;

                &:first-of-type {
                    padding-top: 0px;
                }
            }
        }

        &__image {
            @media #{$mobile} {
                height: 100%;
                width: 100%;
            }
        }
    }

    & .block-event_concept_work {
        padding: $article-padding 0;

        @media #{$desktop} {
            display: grid;
            columns: 2;
            grid-gap: $article-padding;
            grid-template-columns: minmax(auto, 50%) 1fr;

            &__figure {
                grid-column: 1;

                & > img {
                    height: auto;
                    max-width: css-min(#{$article-max-width} / 2, 100%);
                }
            }

            &__links {
                display: grid;
                grid-column: 1 / 3;
                grid-gap: $article-padding;
                grid-template-columns: repeat(auto-fit, minmax(calc(33% - 0.5rem), 1fr));
            }

            &__text {
                grid-column: 2;
            }
        }

        @media #{$mobile} {
            &__button {
                margin: calc(#{$article-padding} / 2) 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__figure {
                & > img {
                    height: auto;
                    width: $article-event-concept-grid-picture-size-mobile;
                }
            }

            &__links {
                display: flex;
                flex-direction: column;
            }
        }

        &__button {
            border: 1px solid $color-dark-grey;
            display: block;
            padding: $article-padding;
        }

        &__links {
            padding: calc(#{$article-padding} * 2) 0;
            text-align: center;
        }
    }

    & section.block-floating_image {
        & > img {
            height: auto;
            max-width: 100%;
            padding: $article-padding 0;
            width: auto;

            &.left {
                float: left;
                padding-right: $article-padding;
            }

            &.right {
                float: right;
                padding-left: $article-padding;
            }
        }
    }

    & section.block-form {
        text-align: justify;

        & > form {
            div.g-recaptcha {
                @media #{$mobile} {
                    transform: scale(0.65);
                    transform-origin: 0 0;
                    width: 153%;  /* 1 / 0.65 */
                }

                div {
                    height: auto;
                    padding: $article-padding 0;
                    width: auto;
                }
            }

            input[type=email], input[type=number],
            input[type=password], input[type=search],
            input[type=text], input[type=url],
            textarea {
                max-width: $article-form-max-width;
                width: calc(100% - #{$main-form-padding} - #{$main-form-shadow-size} - #{$main-form-padding} - #{$main-form-shadow-size});
            }
        }
    }

    & section.block-heading {
        padding: calc(#{$article-padding} / 2) 0;
        text-align: justify;

        @media #{$mobile} {
            text-align: center;
        }

        // If we are the first element in the article, have no margin top
        &:first-child > h2, &:first-child > h3, &:first-child > h4 {
            margin-top: 0;
        }

        & h1, h2, h3, h4, h5, h6 {
            margin-block: $article-padding;
        }

        & > h2 {
            &:lang(#{$english}) {
                font-size: 162%;
            }

            &:lang(#{$japanese}) {
                font-size: 125%;
            }
        }

        & > h4 > time {
            font-size: 68.75%;
        }
    }

    & section.block-home_collection {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media #{$mobile} {
            flex-direction: column;
        }

        & > a {
            padding: $article-home-collection-padding;

            @media #{$desktop} {
                width: $article-home-collection-desktop-width;
            }

            @media #{$mobile} {
                width: $article-home-collection-mobile-width;
            }

            & > figure {
                text-align: center;

                & > figcaption > * {
                    margin: 0;
                    margin-left: -$article-home-collection-padding;
                    width: calc(100% + #{$article-home-collection-padding} + #{$article-home-collection-padding});
                }

                & > img {
                    height: auto;
                    width: 100%;
                }
            }
        }

        & h2:lang(#{$japanese}) {
            font-size: 125%;
            font-weight: 100;
        }

        & h2:lang(#{$english}) {
            font-weight: 200;
        }
    }

    & section.block-image {
        text-align: center;

        // If we are the first element in the article, have no padding top
        &:first-child > img {
            padding-top: 0;
        }

        & > img {
            height: auto;
            max-height: calc(90vh - (#{$article-padding} * 4));
            max-width: 100%;
            padding: $article-padding 0;
            width: auto;
        }
    }

    & section.block-image_collection {
        display: flex;
        flex-wrap: wrap;

        // If we are the first element in the article, have no margin top for first two images
        &:first-child > a:nth-child(1), &:first-child > a:nth-child(2) {
            margin-top: 0;
        }

        & > a {
            height: auto;
            cursor: pointer;
            max-height: 600px;  // FIXME: should be related to width/screenwidth
            margin-bottom: $article-image-grid-padding;
            margin-top: $article-image-grid-padding;
            overflow: hidden;
            position: relative;
            text-align: center;
            transition: height $article-image-grid-expand-transition, flex-basis $article-image-grid-expand-transition, max-height $article-image-grid-expand-transition, max-width $article-image-grid-expand-transition, width $article-image-grid-expand-transition;

            &::before {
                background: $article-image-grid-figcaption-background-color;
                content: "";
                display: block;
                height: 100%;
                left: 0px;
                opacity: 0.0;
                position: absolute;
                top: 0px;
                transition: opacity $article-image-grid-figcaption-transition linear 0s;
                width: 100%;
            }

            &:hover {
                &::before {
                    opacity: 1.0;
                }

                & > figure > figcaption {
                    bottom: 0;
                    opacity: 1.0;
                }
            }

            &:nth-child(2n) {
                margin-left: $article-image-grid-padding;
            }

            &:nth-child(2n + 1) {
                margin-right: $article-image-grid-padding;
            }

            &:nth-child(4n + 2), &:nth-child(4n + 3) {
                flex-basis: calc(40% - #{$article-image-grid-padding});
            }

            &:nth-child(4n + 1), &:nth-child(4n) {
                flex-basis: calc(60% - #{$article-image-grid-padding});
            }

            &.full-width {
                flex-basis: 100%;
            }

            &.full-width-spacer {
                display: none;
                flex-basis: 0%;
            }

            & > figure {
                height: 100%;
                width: 100%;

                & > figcaption {
                    align-items: center;
                    color: $article-image-grid-figcaption-color;
                    bottom: -50%;
                    display: flex;
                    flex-direction: column;
                    height: calc(100% - #{$article-padding} - #{$article-padding});
                    justify-content: center;
                    opacity: 0;
                    padding: $article-padding;
                    position: absolute;
                    transition: bottom $article-image-grid-figcaption-transition linear 0s, opacity $article-image-grid-figcaption-transition linear 0s;
                    width: calc(100% - #{$article-padding} - #{$article-padding});

                    &:lang(#{$japanese}) {
                        font-size: 85%;
                    }

                    // Ensure text doesn't overflow the caption and wraps
                    & > * {
                        width: 100%;
                    }
                }

                & > img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                    transition: height $article-image-grid-expand-transition, object-fit $article-image-grid-expand-transition, width $article-image-grid-expand-transition;
                }
            }
        }
    }

    & > nav.block-paginator, & > nav.block-siblings {
        display: flex;
        flex-direction: row;

        & > * {
            display: block;
            width: 50%;

            &:lang(#{$english}) {
                font-weight: 400;
            }

            &:lang(#{$japanese}) {
                font-weight: 100;
            }

            &.next, &.next > button {
                text-align: right;

                & figure {
                    flex-direction: row-reverse;
                }

                & img {
                    padding-left: $article-paginator-siblings-padding;
                }
            }

            &.previous, &.previous > button {
                text-align: left;

                & figure {
                    flex-direction: row;
                }

                & img {
                    padding-right: $article-paginator-siblings-padding;
                }
            }

            & > button {
                width: 100%;
            }

            & figure {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
            }

            & img {
                height: $article-paginator-siblings-button-height;
            }
        }
    }

    & > nav.block-paginator {
        padding: $article-padding 0;
    }

    & section.block-paragraph {
        padding: calc(#{$article-padding} / 2) 0;
        text-align: justify;

        // If we are the first element in the article, have no margin top
        &:first-child > div > *:first-child {
            margin-top: 0;
        }

        // As text is bold and black, make links in block-paragraph wavy underlined so they are visible
        a {
            // Ensure is in-sync with theme > a
            &:link, &:visited {
                text-decoration: underline wavy;
            }

            &:focus, &:hover {
                text-decoration: underline solid;
            }
        }

        img {
            height: auto;
            max-width: 100%;
            padding: $article-padding 0;
            width: auto;

            &.left {
                float: left;
                padding-right: $article-padding;
            }

            &.right {
                float: right;
                padding-left: $article-padding;
            }

            // Ensure floating images on mobile are not more than 40% of width
            &.left, &.right {
                @media #{$mobile} {
                    max-width: calc(40% - $article-padding);
                }
            }
        }
    }

    // On desktop this is like an image_collection
    // On mobile this is like a home_collection
    & section.block-section_entries {
        display: flex;
        flex-wrap: wrap;

        @media #{$mobile} {
            align-items: center;
            flex-direction: column;

            & > a {
                padding: $article-home-collection-padding;
                width: $article-home-collection-mobile-width;

                & > figure {
                    text-align: center;

                    & > figcaption > * {
                        margin: 0;
                        margin-left: -$article-home-collection-padding;
                        width: calc(100% + #{$article-home-collection-padding} + #{$article-home-collection-padding});
                    }

                    & > img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }

        @media #{$desktop} {
            // If we are the first element in the article, have no margin top for first two images
            &:first-child > a:nth-child(1), &:first-child > a:nth-child(2) {
                margin-top: 0;
            }

            & > a {
                height: auto;
                cursor: pointer;
                max-height: 600px;  // FIXME: should be related to width/screenwidth
                margin-bottom: $article-image-grid-padding;
                margin-top: $article-image-grid-padding;
                overflow: hidden;
                position: relative;
                text-align: center;
                transition: height $article-image-grid-expand-transition, flex-basis $article-image-grid-expand-transition, max-height $article-image-grid-expand-transition, max-width $article-image-grid-expand-transition, width $article-image-grid-expand-transition;

                &::before {
                    background: $article-image-grid-figcaption-background-color;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0px;
                    opacity: 0.0;
                    position: absolute;
                    top: 0px;
                    transition: opacity $article-image-grid-figcaption-transition linear 0s;
                    width: 100%;

                    @media #{$hover-not-supported} {
                        opacity: 1.0;
                    }
                }

                @media #{$hover-supported} {
                    &:hover {
                        &::before {
                            opacity: 1.0;
                        }

                        & > figure > figcaption {
                            bottom: 0;
                            opacity: 1.0;
                        }
                    }
                }

                &:nth-child(2n) {
                    margin-left: $article-image-grid-padding;
                }

                &:nth-child(2n + 1) {
                    margin-right: $article-image-grid-padding;
                }

                &:nth-child(4n + 2), &:nth-child(4n + 3) {
                    flex-basis: calc(40% - #{$article-image-grid-padding});
                }

                &:nth-child(4n + 1), &:nth-child(4n) {
                    flex-basis: calc(60% - #{$article-image-grid-padding});
                }

                & > figure {
                    height: 100%;
                    width: 100%;

                    & > figcaption {
                        align-items: center;
                        bottom: -50%;
                        color: $article-image-grid-figcaption-color;
                        display: flex;
                        flex-direction: column;
                        height: calc(100% - #{$article-padding} - #{$article-padding});
                        justify-content: center;
                        opacity: 0;
                        padding: $article-padding;
                        position: absolute;
                        transition: bottom $article-image-grid-figcaption-transition linear 0s, opacity $article-image-grid-figcaption-transition linear 0s;
                        width: calc(100% - #{$article-padding} - #{$article-padding});

                        @media #{$hover-not-supported} {
                            bottom: 0;
                            opacity: 1.0;
                        }

                        &:lang(#{$japanese}) {
                            font-size: 85%;
                        }

                        // Ensure text doesn't overflow the caption and wraps
                        & > * {
                            width: 100%;
                        }
                    }

                    & > img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                        transition: height $article-image-grid-expand-transition, object-fit $article-image-grid-expand-transition, width $article-image-grid-expand-transition;
                    }
                }
            }
        }
    }

    & section.block-share {
        @media #{$mobile} {
            bottom: 5%;
            max-width: 100%;
            position: fixed;
            right: 0;
        }

        & > ul {
            align-items: center;
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            @media #{$desktop} {
                margin-top: calc(#{$article-padding} * 2);
            }

            @media #{$mobile} {
                flex-direction: row-reverse;
                flex-wrap: wrap-reverse;
            }

            &.mobile-shown {
                & > li {
                    @media #{$mobile} {
                        display: block;

                        &.mobile-share {
                            display: none;
                        }
                    }
                }
            }

            & > li {
                @media #{$mobile} {
                    display: none;
                }

                @media #{$desktop} {
                    &:nth-child(2) > a {
                        &::after {
                            left: calc(50% - (#{$article-padding} / 2));
                        }

                        & > img {
                            padding-left: 0;
                        }
                    }

                    &:last-child > a {
                        &::after {
                            left: calc(50% + (#{$article-padding} / 2));
                        }

                        & > img {
                            padding-right: 0;
                        }
                    }
                }

                &.mobile-share {
                    display: none;

                    @media #{$mobile} {
                        display: block;

                        img {
                            height: calc(#{$article-social-button-size} * 1.5);
                            padding: $article-padding;
                            width: calc(#{$article-social-button-size} * 1.5);
                        }
                    }
                }

                & > a {
                    display: block;
                    cursor: pointer;
                    position: relative;

                    // When hover isn't supported, only show popup for copy url
                    @media #{$hover-not-supported} {
                        &[data-bind="copy-url"] {
                            &:active, &:focus, &:hover {
                                &::after {
                                    display: block;
                                }
                            }
                        }
                    }

                    @media #{$hover-supported} {
                        &:hover {
                            &::after {
                                display: block;
                            }
                        }
                    }

                    &::after {
                        background-color: $article-social-popup-background-color;
                        border-radius: $article-social-popup-border-radius;
                        bottom: calc(100% - (#{$article-padding} - (#{$article-social-popup-padding} / 2)));
                        color: white;
                        content: attr(data-label);
                        display: none;
                        left: 50%;
                        padding: $article-social-popup-padding;
                        position: absolute;
                        text-align: center;
                        transform: translateX(-50%);
                        width: max-content;
                    }

                    & > img {
                        display: block;
                        height: $article-social-button-size;
                        padding: $article-padding;
                        width: $article-social-button-size;
                    }
                }
            }
        }
    }

    & time:lang(#{$japanese}) {
        letter-spacing: 0.388em;
    }
}
