body.template-home aside.links {
    @media #{$desktop} {
        align-items: center;
        grid-column: 2;
        grid-row: 3;
        justify-content: center;
    }
}

body > aside.links {
    display: flex;
    grid-column: 1;

    @media #{$desktop} {
        grid-row: 3;
    }

    @media #{$mobile} {
        grid-row: 4;
        justify-content: center;
        padding-top: $aside-padding-top-mobile;
    }

    & > *:nth-child(n + 2) {
        padding-left: $aside-button-padding;
    }

    & > a > img.button {
        height: $aside-button-size;
        width: $aside-button-size;
    }

    & > form > button {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        cursor: pointer;
        margin-top: 0;
        padding: 0;

        &:focus {
            box-shadow: none;
        }

        & > img {
            height: $aside-button-size;
            width: $aside-button-size;
        }

        & > img.visible, &:hover > img.hover {
            display: block;
        }

        & > img.hover, &:hover > img.visible {
            display: none;
        }
    }
}
