// Fonts originally from Google Fonts (as below)
// @import url("//fonts.googleapis.com/css?family=Just+Me+Again+Down+Here");
// @import url("//fonts.googleapis.com/css?family=Sue+Ellen+Francisco");
// Instead they have been extracted and stored locally

// Google webfonts helper code: https://github.com/majodev/google-webfonts-helper/

// Sourced from: https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin

/* lato-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('/static/css/fonts/lato-v16-latin/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
