body.template-home footer {
    @media #{$desktop} {
        grid-column: 1;
        grid-row: 3;
        justify-content: center;
    }
}

footer {
    align-items: center;
    display: flex;
    width: 100%;

    @media #{$desktop} {
        flex-wrap: wrap;
        grid-column: 2;
        grid-row: 4;
        margin: 0 auto;
        max-width: $footer-max-width;
    }

    @media #{$mobile} {
        flex-direction: column;
        justify-content: center;
        grid-column: 1;
        grid-row: 5;
    }

    & > p {
        margin: 0;

        &:nth-child(n + 2) {
            @media #{$desktop} {
                padding: 0 $footer-word-spacing;
            }
        }
    }
}
