
body.template-home header#home {
    @media #{$desktop} {
        grid-column: 1 / 3;
    }
}

header#home {
    display: flex;
    grid-row: 1;

    @media #{$desktop} {
        grid-column: 1;
        justify-content: center;
    }

    @media #{$mobile} {
        grid-column: 1;
    }

    a {
        align-items: center;
        display: flex;
        justify-content: center;

        &.home {
            flex-grow: 1;

            @media #{$mobile} {
                margin-left: calc(#{$header-burger-size} + #{$header-padding} + #{$header-padding});
            }

            img {
                @media #{$desktop} {
                    height: $header-home-desktop-height;
                    max-width: $header-home-desktop-max-width;
                }

                @media #{$mobile} {
                    height: $header-home-mobile-height;
                    max-width: 100%;
                    // Logo appears up as character Y is low, so align
                    // the character u with the bottom of the burger menu
                    transform: translateY(33%);
                }
            }
        }
    }

    label#menu-button {
        @media #{$desktop} {
            display: none;
        }

        @media #{$mobile} {
            display: block;
            cursor: pointer;
        }

        img.button {
            display: block;
            height: $header-burger-size;
            padding: $header-padding;
            width: $header-burger-size;
        }
    }
}

input#menu-toggle {
    display: none;
}
