a {
    // Ensure is in-sync with streamfield_overrides > .block-paragraph > a
    &:link, &:visited {
        color: $main-a-color;
        text-decoration: none;
    }

    &:focus, &:hover {
        text-decoration: underline;
    }
}

article, footer, figure#modal {
    a:link, a:visited {
        font-weight: 400;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;

        &:lang(#{$english}) {
            letter-spacing: 0.05em;
        }

        &:lang(#{$japanese}) {
            letter-spacing: 0.082em;
        }
    }

    p {
        &:lang(#{$english}) {
            font-weight: 200;
            line-height: 1.6em;
            letter-spacing: 0.087em;
        }

        &:lang(#{$japanese}) {
            font-size: 87.5%;
            font-weight: 300;
            letter-spacing: 0.0119em;
            line-height: 2.429em;
        }
    }
}

body {
    color: $main-body-color;
    display: grid;
    margin: 0;
    padding: 0;
    word-break: normal;
    word-wrap: break-word;

    @media #{$desktop} {
        grid-gap: $main-body-padding;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content 1fr min-content;
        padding: $main-body-padding;
    }

    @media #{$mobile} {
        grid-template-columns: 100%;
        grid-gap: $main-body-padding-mobile;
        padding: $main-body-padding-mobile;
    }

    &:lang(#{$english}) {
        font-family: "Lato", "Noto Sans JP", "Noto Sans CJK JP", "Noto Sans", sans-serif;
    }

    &:lang(#{$japanese}) {
        font-family: "Noto Sans JP", "Noto Sans CJK JP", "Noto Sans", "Lato", sans-serif;
    }

    &.template-home {
        @media #{$desktop} {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr min-content 1fr;
        }
    }
}

figure {
    margin: 0;
}

form {
    button, input[type=button], input[type=submit],
    input[type=email], input[type=number],
    input[type=password], input[type=search],
    input[type=text], input[type=url],
    textarea {
        background-color: $main-form-background-color;
        border: 1px solid darken($main-form-background-color, 25);
        box-shadow: 0px 0px $main-form-shadow-size darken($main-form-background-color, 25);
        padding: $main-form-padding;
        transition: border $main-form-focus-transition linear, box-shadow $main-form-focus-transition linear;

        &:focus {
            border: 1px solid darken($main-form-background-color, 50);
            box-shadow: 0px 0px $main-form-shadow-size darken($main-form-background-color, 50);
        }
    }

    button, input[type=button], input[type=submit] {
        cursor: pointer;
    }

    button.image-button {
        border: none;
        box-shadow: none;
    }
}

img {
    pointer-events: none;
    user-select: none;
}
