
figure#modal {
    background-color: $modal-background-color;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    // This creates padding above the figure, so that the scrollIntoView has
    // padding at the top. But the actual vertical positioning of the figure
    // is still the same as the aside navigation.
    margin-top: -$modal-padding;
    min-height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;

    @media #{$desktop} {
        grid-column: 2;
        grid-row: 2 / 4;
        padding-top: $modal-padding;
    }

    @media #{$mobile} {
        grid-column: 1;
        grid-row: 3;
        padding-top: $modal-button-size;
    }

    &::before {
        background-image: url('/static/images/cross.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: $modal-button-size $modal-button-size;
        content: "";
        height: $modal-button-size;
        padding: $modal-padding;
        position: absolute;
        right: 0px;
        top: 0px;
        width: $modal-button-size;
        z-index: $z-layer-modal-buttons;
    }

    & > figcaption {
        padding: $modal-padding;
        text-align: center;
    }

    & > picture  {
        &.multiple {
            &::before, &::after {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: $modal-button-size $modal-button-size;
                content: "";
                height: $modal-button-size;
                padding: $modal-padding;
                position: absolute;
                top: calc(-#{$modal-padding} + 50vh - (#{$modal-button-size} / 2));
                width: $modal-button-size;
                z-index: $z-layer-modal-buttons;
            }

            &::after {
                right: 0px;

                @media #{$desktop} {
                    background-image: url('/static/images/arrow-next.svg');
                }
            }

            &::before {
                left: 0px;

                @media #{$desktop} {
                    background-image: url('/static/images/arrow-previous.svg');
                }
            }

            &.controls {
                &::after {
                    @media #{$mobile} {
                        background-image: url('/static/images/arrow-next-mobile.svg');
                    }
                }

                &::before {
                    @media #{$mobile} {
                        background-image: url('/static/images/arrow-previous-mobile.svg');
                    }
                }
            }
        }

        & > img {
            max-height: calc(100vh - #{$modal-padding} - #{$main-body-padding} - #{$modal-image-caption-height});
            object-fit: contain;
            position: relative;

            @media #{$desktop} {
                max-width: calc(100% - (2 * (#{$modal-padding} + #{$modal-button-size} + #{$modal-padding})));
            }

            @media #{$mobile} {
                max-width: 100%;
            }
        }
    }
}
