
body.template-home nav#menu {
    @media #{$desktop} {
        display: none;
    }
}

nav#menu {
    @media #{$desktop} {
        grid-column: 1;
        grid-row: 2;
    }

    @media #{$mobile} {
        align-items: center;
        background-color: $navigation-popup-background-color;
        display: none;
        flex-direction: column;
        grid-column: 1;
        grid-row: 2;
        margin: 0 calc(-#{$main-body-padding-mobile});
        padding: calc(#{$navigation-padding * 2}) 0;
        position: relative;
        text-align: center;

        &::before {
            background-image: url('/static/images/burger_pointer.svg');
            background-position: center bottom;
            background-size: $header-burger-size $header-burger-size;
            background-repeat: no-repeat;
            bottom: 100%;
            content: "";
            display: block;
            height: $header-burger-size;
            position: absolute;
            right: calc(#{$header-padding} + #{$main-body-padding-mobile});
            width: $header-burger-size;
        }
    }

    & > h2, & > h3 {
        @media #{$desktop} {
            margin: $navigation-padding 0;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @media #{$mobile} {
            margin: $navigation-padding;
            width: calc(100% - #{$navigation-padding} - #{$navigation-padding});
        }

        // Only the current menu item should be bold
        & > a {
            @media #{$mobile} {
                color: $navigation-popup-text-color;
            }

            &:lang(#{$english}) {
                font-weight: 200;
            }

            &:lang(#{$japanese}) {
                font-size: 83.33%;
                font-weight: 100;
            }

            &.current-page {
                &:lang(#{$english}) {
                    @media #{$desktop} {
                        font-weight: 400;
                    }

                    @media #{$mobile} {
                        font-weight: 700;
                    }
                }

                &:lang(#{$japanese}) {
                    font-weight: 400;
                }
            }

            & > span.current-page-hint {
                @media #{$mobile} {
                    display: none;
                }
            }
        }
    }

    & > h3 {
        @media #{$desktop} {
            padding-left: $navigation-padding;
        }
    }
}

// When the buger menu is check show the navigation menu
input#menu-toggle:checked ~ nav#menu {
    @media #{$mobile} {
        display: flex;
    }
}
