
aside.splash {
    align-items: center;
    animation: fade_out $splash-fade-out-duration linear $splash-fade-out-delay 1 normal forwards;
    background-color: $splash-background-color;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-layer-splash;

    & > svg {
        max-width: $splash-max-width;

        & > g.text > path {
            animation: line_animation $splash-line-animation-duration ease-in-out $splash-line-animation-delay 1 normal forwards;
        }

        & > path.dot {
            animation: fade_in $splash-dot-animation-duration linear $splash-dot-animation-delay 1 normal forwards;
            opacity: 0.0;
        }
    }

    @keyframes fade_in {
        from {
            opacity: 0.0;
        }
        to {
            opacity: 1.0;
        }
    }

    @keyframes fade_out {
        from {
            opacity: 1.0;
        }
        to {
            opacity: 0.0;
        }
    }

    @keyframes line_animation {
        from {
            stroke-dashOffset: $splash-line-animation-dashOffset;
        }
        to {
            stroke-dashOffset: 0;
        }
    }
}
