// Device sizes
$desktop: "(min-width: 1001px)";
$mobile: "(max-width: 1000px)";

// Device abilities
$hover-supported: "(hover: hover)";
$hover-not-supported: "(hover: none)";

// Languages
$english: "en";
$japanese: "ja";

// This is the size of buttons, eg burger, language, instagram
$button-size: 2rem;
// This is the maximum width for the content, eg article width
$content-max-width: 1200px;
// This is the general padding size used throughout
$padding: 1rem;
// This is the padding on desktop between the boundary and major components
$padding-boundary: 5rem;

// Transition speeds
$transition-medium: 0.5s;
$transition-fast: 0.25s;

// Colours
$color-black: rgb(0, 0, 0);
$color-dark-grey: rgb(48, 48, 48);
$color-dark-red: rgb(237, 28, 36);
$color-white: rgb(255, 255, 255);

// Z-Index layers
$z-layer-modal: 10;
$z-layer-modal-buttons: 11;
$z-layer-splash: 20;


// Specific styling
$article-blog-entry-a-hover-color: $color-dark-red;
$article-blog-entry-picture-max-width: 200px;
$article-blog-entry-picture-min-width: 100px;
$article-event-entry-picture-max-width: 300px;
$article-event-entry-picture-min-width: 150px;
$article-event-concept-grid-picture-size: 200px;
$article-event-concept-grid-picture-size-mobile: calc(100vw - (#{$padding} * 2));
$article-form-max-width: calc(#{$content-max-width} / 2);
$article-home-collection-padding: 2rem;
$article-home-collection-desktop-width: calc(33% - (#{$article-home-collection-padding} * 2));
$article-home-collection-mobile-width: 50%;
$article-image-grid-figcaption-background-color: rgba($color-black, 0.66);
$article-image-grid-figcaption-color: $color-white;
$article-image-grid-figcaption-transition: $transition-fast;
$article-image-grid-padding: $padding;
$article-image-grid-expand-transition: $transition-medium;
$article-max-width: $content-max-width;
$article-padding: $padding;
$article-paginator-siblings-button-height: $button-size;
$article-paginator-siblings-padding: calc(#{$padding} / 2);
$article-social-button-size: $button-size;
$article-social-popup-background-color: rgba($color-black, 0.66);
$article-social-popup-border-radius: 0.25rem;
$article-social-popup-bottom-space: 0.25rem;
$article-social-popup-padding: 0.25rem;

$aside-button-padding: 1.5rem;
$aside-button-size: 2.5rem;
$aside-padding-top-mobile: $padding;

$footer-max-width: $content-max-width;
$footer-word-spacing: 0.25rem;

$header-burger-size: $button-size;
$header-home-desktop-height: 4rem;
$header-home-desktop-max-width: 10rem;
$header-home-mobile-height: 2rem;
$header-padding: $padding;
$header-padding-bottom: $padding-boundary;

$main-a-color: $color-black;
$main-body-padding: $padding-boundary;
$main-body-padding-mobile: $padding;
$main-body-color: $color-black;
$main-form-background-color: $color-white;
$main-form-focus-transition: $transition-fast;
$main-form-padding: calc(#{$padding} / 2);
$main-form-shadow-size: $main-form-padding;

$modal-background-color: $color-white;
$modal-button-size: $button-size;
$modal-image-caption-height: 3rem;
$modal-padding: $padding;

$navigation-padding: $padding;
$navigation-popup-background-color: $color-dark-grey;
$navigation-popup-text-color: $color-white;

$splash-background-color: $color-white;
$splash-dot-animation-delay: 2s;
$splash-dot-animation-duration: 0.1s;
$splash-fade-out-delay: 3s;
$splash-fade-out-duration: $transition-fast;
$splash-line-animation-delay: 0s;
$splash-line-animation-duration: 2s;
$splash-line-animation-dashOffset: 513.5009765625;  // path.getTotalLength()
$splash-max-width: 50%;
