// libsass has it's own min/max methods, we need to define functions to use
// css clamp, min, and max
@function css-function( $function, $values... ) {
    @return
        $function
        + unquote( '(' )
        + $values
        + unquote( ')' )
    ;
}

@function css-clamp( $values... ) {
    @return css-function( clamp, $values );
}

@function css-max( $values... ) {
	@return css-function( max, $values );
}

@function css-min( $values... ) {
    @return css-function( min, $values );
}

@import "variables";

@import "font";
@import "main";

@import "article";
@import "aside";
@import "footer";
@import "header";
@import "modal";
@import "navigation";
@import "splash";
