{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags yumeka_utils %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block body_class %}template-home{% endblock %}

{% block content %}
    <section class="block-home_collection">
        {% for page in self.get_children.live.in_menu.specific %}
        <a href="{% pageurl page %}" title="Link to {{ page.translated_title }}">
            <figure>
                {# Max sizes: desktop 1200 * 0.33, mobile 1000 * 0.5 #}
                {% image page.listing_image fill-200x200 as half_image %}
                {% image page.listing_image fill-500x500-c50 as mobile_image %}
                {% image page.listing_image fill-400x400-c50 as desktop_image %}
                <img
                    {{ tmp_image.attrs }}
                    srcset="{{ half_image.url }} 200w, {{ mobile_image.url }} 500w, {{ desktop_image.url }} 400w"
                    sizes="(max-width: 1000px) 50vw, 400px" />
                <figcaption>
                    <h2>{{ page.translated_title }}</h2>
                </figcaption>
            </figure>
        </a>
        {% endfor %}
    </section>

    {% include "includes/streamfield.html" %}
{% endblock %}

{% block extra_content %}
<aside class="splash">
    <svg xmlns="http://www.w3.org/2000/svg" width="295" height="75" viewBox="0 0 295 75">
        <g class="text" transform="translate(-391.8 -501)" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="8">
            <path
                d="m 398.4,507.9 c -2.3,6.8 4,14.3 11.1,15 7.1,0.8 13.9,-3.6 18.2,-9.3 1,-1.3 1.2,-4 -0.4,-3.9 -8.9,21.6 -17.9,43.4 -31.5,62.3 17,-15.9 33.9,-31.9 50.9,-47.8 0.6,-0.6 1.2,-1.2 1.2,-2 0,-0.8 -1.2,-1.5 -1.7,-0.8 -1.9,4.9 -3.3,10.3 -1.5,15.3 0.9,2.5 2.7,4.6 5,5.9 4.5,2.4 8,0.2 11.2,-2 7.5,-5.2 14.4,-11.4 20.5,-18.2 -2.8,4.2 -5.7,8.9 -4.5,14.1 0.6,2.7 2.6,5 5.3,5.6 3.4,0.8 5.7,-1.5 7.7,-3.6 5.4,-5.5 13.2,-17.3 16.2,-16.5 2.9,0.8 4.8,9.3 5.3,14.5 4.9,-3.4 10.3,-6.3 15.9,-8.4 2.3,-0.9 4.8,-1.7 7.2,-1.1 3,0.7 5,3.4 7.7,4.9 4.2,2.3 9.4,1.5 14,0.3 6,-1.6 11.8,-3.7 17.4,-6.4 5.5,-2.6 11.5,-6.9 11.4,-13.1 -3.3,-1.4 -7.2,2 -7.1,5.6 0.1,3.6 3.2,6.6 6.6,7.7 3.4,1.1 7.1,0.7 10.7,0.2 16.2,-2.3 32,-7 46.9,-13.9 5.9,-2.8 11.9,-5.9 18.4,-6.6"
                fill="none"
                stroke="#333"
                stroke-width="8"
                stroke-miterlimit="10"
                stroke-dasharray="513.5009765625 513.5009765625"
                stroke-dashoffset="513.5009765625"
                stroke-linejoin="round"
                stroke-linecap="round" />
        </g>
        <path
            class="dot"
            d="m 286.57587,16.715767 c -1.49363,-0.652797 -3.07721,-2.629028 -3.3931,-4.234565 -0.3307,-1.681694 -0.2759,-1.854644 0.69661,-2.184822 0.53162,-0.180661 1.53962,-0.6720357 2.24,-1.0923547 0.97436,-0.584728 1.71397,-0.759153 3.1489,-0.742485 2.29118,0.02646 3.16768,0.707865 3.71685,2.8887187 0.20636,0.819209 0.52078,1.665064 0.6989,1.879702 0.40264,0.485101 0.0302,1.157362 -0.52557,0.944727 -0.47135,-0.181039 -2.63773,1.172291 -3.40395,2.126202 -0.58911,0.733377 -2.02177,0.920312 -3.17864,0.414726 z"
            style="stroke-width:0.31999993" />
    </svg>
</aside>
{% endblock %}
