{% extends "base.html"%}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content_pre_title %}
{% if self.depth > 3 %}
{% include "includes/siblings.html" with sibling_next=self.get_next_live_sibling sibling_previous=self.get_previous_live_sibling only %}
{% endif %}
{% endblock %}

{% block content %}
{% include "includes/streamfield.html" %}

<section class="block-section_entries">
    {% for child in children %}
    <a href="{% pageurl child %}" title="{% blocktrans with page=child.translated_title %}Link to {{ page }}{% endblocktrans %}">
        <figure>
            {# Max sizes: desktop 1200 * 0.6, mobile 1000 * 0.5 #}
            {% image child.listing_image width-180 as quarter_image %}
            {% image child.listing_image width-360 as half_image %}
            {% image child.listing_image width-500 as mobile_image %}
            {% image child.listing_image width-720 as tmp_image %}
            <img
                {{ tmp_image.attrs }}
                srcset="{{ quarter_image.url }} 180w, {{ half_image.url }} 360w, {{ mobile_image.url }} 500w, {{ tmp_image.url }} 720w"
                sizes="(max-width: 1000px) 50vw, 720px"
                style="object-position: {{ child.listing_image.horizontal_position }} {{ child.listing_image.vertical_position }};" />
            <figcaption>
                <h2>{{ child.translated_title }}</h2>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</section>

{% endblock %}