{% extends "base.html"%}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content %}
<section class="block-heading">
    <h4>
        <time datetime="{{ self.get_parent.specific.date | date:'Y/m/d' }}">{{ self.get_parent.specific.date | date }}</time>
    </h4>
</section>

<section class="block-event_concept_work">
    <figure class="block-event_concept_work__figure">
        {# Max sizes: desktop is 600, mobile is 1000 #}
        {% image self.listing_image width-300 as half_image %}
        {% image self.listing_image width-500 as mobile_half_image %}
        {% image self.listing_image width-600 as desktop_image %}
        {% image self.listing_image width-1000 as mobile_image %}
        <img {{ tmp_image.attrs }}
            srcset="{{ half_image.url }} 300w, {{ mobile_half_image.url }} 500w, {{ desktop_image.url }} 600w, {{ mobile_image.url }} 1000w" sizes="(max-width: 1000px) 100vw, 600px" />
    </figure>

    <section class="block-event_concept_work__text">
    {% include "includes/streamfield.html" %}
    </section>

    <section class="block-event_concept_work__links">
        <a class="block-event_concept_work__button" href="{% pageurl self.get_parent %}"
            title="{% blocktrans with page=self.get_parent.specific.translated_title %}Link to {{ page }}{% endblocktrans %}">
            {% trans "Back to Concept" %}</a>
        {% for link in self.default_links %}
        <a class="block-event_concept_work__button" href="{% pageurl link %}"
            title="{% blocktrans with page=link.specific.translated_title %}Link to {{ page }}{% endblocktrans %}">{% blocktrans with page=link.specific.translated_title %}Go to {{ page }}{% endblocktrans %}</a>
        {% endfor %}
        {% for struct in self.links %}
        <a class="block-event_concept_work__button" href="{% pageurl struct.value.link %}"
            title="{% blocktrans with page=struct.value.link.specific.translated_title %}Link to {{ page }}{% endblocktrans %}">{% blocktrans with page=struct.value.link.specific.translated_title %}Go to {{ page }}{% endblocktrans %}</a>
        {% endfor %}
    </section>
</section>

{% include "includes/siblings.html" with sibling_next=self.get_next_live_sibling sibling_previous=self.get_previous_live_sibling only %}

{% endblock %}