{% extends "base.html"%}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content %}
<section class="block-heading">
    <h4>
        <time datetime="{{ self.date | date:'Y/m/d' }}">{{ self.date | date }}</time>
    </h4>
</section>

{% include "includes/streamfield.html" %}

<section class="block-event_concept_grid">
    {% for child in self.children %}
    <a class="block-event_concept_grid__anchor" href="{% pageurl child %}"
        title="{% blocktrans with page=child.translated_title %}Link to {{ page }}{% endblocktrans %}">
        <figure class="block-event_concept_grid__figure">
            {% image child.listing_image fill-968x968-c50 as mobile_image %}
            {% image child.listing_image fill-500x500-c50 as mobile_half_image %}
            {% image child.listing_image fill-200x200-c50 as desktop_image %}
            <img class="block-event_concept_grid__image" {{ tmp_image.attrs }}
                srcset="{{ desktop_image.url }} 200w, {{ mobile_half_image.url }} 500w, {{ mobile_image.url }} 968w" sizes="(max-width: 1000px) 100vw, 200px" />
        </figure>
    </a>
    {% endfor %}
</section>

{% endblock %}