{% extends "base.html"%}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content %}
{% include "includes/streamfield.html" %}

{% for child in children %}
<section class="block-event_entry">
    <a href="{% pageurl child %}"
        title="{% blocktrans with page=child.translated_title %}Link to {{ page }}{% endblocktrans %}">
        <figure>
            {# Max sizes: desktop fixed 300, mobile min(150px, 40%) #}
            {% image child.listing_image fill-150x150-c50 as half_image %}
            {% image child.listing_image fill-225x225-c50 as three_quarter %}
            {% image child.listing_image fill-300x300-c50 as tmp_image %}
            <img class="block-event_entry__image--size-big" {{ tmp_image.attrs }}
                srcset="{{ half_image.url }} 150w, {{ three_quarter.url }} 225w, {{ tmp_image.url }} 300w"
                sizes="40vw" />
            <figcaption>
                <h2>{{ child.translated_title }}</h2>
                <h4>
                    <time datetime="{{ child.date | date:'Y/m/d' }}">{{ child.date | date }}</time>
                </h4>
                <p>{{ child.body_as_text | striptags | safe | truncatechars:80 }}</p>
            </figcaption>
        </figure>
    </a>
</section>
{% endfor %}

{% include "includes/paginator.html" with items=children only %}

{% endblock %}