{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content %}
<section class="block-paragraph">
    <p>{{ self.landing_page_text }}</p>
</section>
{% endblock %}
