{% extends "base.html" %}
{% load i18n wagtailcore_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content %}

{% include "includes/streamfield.html" %}

<section class="block-form">
    <form action="{% pageurl self %}" method="POST">
        {% csrf_token %}

        <p class="error">{{ form.non_field_errors }}</p>

        {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </p>

        {% if field.errors %}
        <p class="error">{{ field.errors }}</p>
        {% endif %}

        {{ field }}
        {% endfor %}


        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}

        <input type="submit" value="{% trans 'Send' %}">
    </form>
</section>

{% endblock %}
