{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section class="block-heading">
        <h2>{% trans "Page not found" %}</h2>
    </section>

    <section class="block-heading">
        <h3>{% trans "Sorry, this page could not be found." %}</h3>
    </section>
{% endblock %}
