{% load compress i18n static wagtailcore_tags wagtailimages_tags wagtailuserbar yumeka_utils %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8" />

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.translated_title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %} - Yumeka Saito</title>

    <meta name="description" content="" />
    <meta name="google-site-verification" content="{% get_google_site_verification_code %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph Tags -->
    {% if self.listing_image %}
    {% image page.listing_image fill-400x400-c50 as ogimage %}
    <meta name="og:image" content="{{ self.get_site.root_url}}{{ ogimage.url }}" />
    {% else %}
    <meta name="og:image" content="{{ self.get_site.root_url}}{% static 'images/favicon.png' %}" />
    {% endif %}
    <meta name="og:locale" content="{{ LANGUAGE_CODE }}" />
    <meta name="og:title" content="{{ self.translated_title }}" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="{{ self.full_url }}" />

    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{% get_google_analytics_code %}', {'storage': 'none'});
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    {# Global stylesheets #}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/yumekasaito.scss' %}">
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {# Global javascript #}
    {% compress js %}
    <script defer type="text/x-typescript" src="{% static 'js/image_collection.ts' %}"></script>
    {% endcompress %}
    {% compress js %}
    <script defer type="text/x-typescript" src="{% static 'js/social.ts' %}"></script>
    {% endcompress %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% include "includes/header.html" %}

    {% include "includes/nav.html" %}

    {% include "includes/aside.html" %}

    <article>
        {% block content_pre_title %}{% endblock %}

        {% if self.automatic_title_heading %}
        <section class="block-heading">
            <h2>{{ self.translated_title }}</h2>
        </section>

        {% endif %}
        {% block content %}{% endblock %}
    </article>

    {% include "includes/footer.html" %}

    {% block extra_content %}{% endblock %}
</body>

</html>
