{% extends "base.html"%}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content %}
{% include "includes/streamfield.html" %}

{% for child in children %}
<section class="block-blog_entry">
    <a href="{% pageurl child %}" title="{% blocktrans with page=child.translated_title %}Link to {{ page }}{% endblocktrans %}">
        <figure>
            {# Max sizes: desktop fixed 200, mobile min(200px, 30%) #}
            {% image child.listing_image fill-100x100-c50 as half_image %}
            {% image child.listing_image fill-150x150-c50 as three_quarter %}
            {% image child.listing_image fill-200x200-c50 as tmp_image %}
            <img
                {{ tmp_image.attrs }}
                srcset="{{ half_image.url }} 100w, {{ three_quarter.url }} 150w, {{ tmp_image.url }} 200w"
                sizes="30vw" />
            <figcaption>
                <h2>{{ child.translated_title }}</h2>
                <h4>
                    <time datetime="{{ child.first_published_at | date:'Y/m/d' }}">{{ child.first_published_at | date }}</time>
                </h4>
                <p>{{ child.body_as_text | striptags | safe | truncatechars:80 }}</p>
            </figcaption>
        </figure>
    </a>
</section>
{% endfor %}

{% include "includes/paginator.html" with items=children only %}

{% endblock %}
