{% extends "base.html"%}
{% load i18n static wagtailcore_tags %}

{% block title %}{{ self.translated_title }}{% endblock %}

{% block content_pre_title %}
{% include "includes/siblings.html" with sibling_next=self.get_next_live_sibling sibling_previous=self.get_previous_live_sibling only %}
{% endblock %}

{% block content %}
<section class="block-heading">
    <h4>
        <time datetime="{{ self.first_published_at | date:'Y/m/d' }}">{{ self.first_published_at | date }}</time>
    </h4>
</section>

{% include "includes/streamfield.html" %}

<section class="block-share">
    {% trans "Check out Yumeka's blog!" as message %}
    {% trans 'bekind' as bekind %}
    <ul>
        <li class="mobile-share">
            <a data-bind="mobile-share" data-label="{% trans 'Share' %}">
                <img src="{% static 'images/share.svg' %}" alt="{% trans 'Share' %}" />
            </a>
        </li>
        <li>
            <a data-label="{% trans 'Share' %}"
                href="http://www.facebook.com/sharer/sharer.php?u={{ self.full_url | urlencode:'' | iriencode }}&amp;t={{ message | urlencode | iriencode }}%0A%0A{{ self.translated_title | urlencode | iriencode }}"
                target="_blank">
                <img src="{% static 'images/vendor/facebook.svg' %}" alt="Facebook" />
            </a>
        </li>
        <li>
            <a data-label="{% trans 'Share' %}"
                href="https://twitter.com/intent/tweet?url={{ self.full_url | urlencode:'' | iriencode }}&amp;text={{ message | urlencode | iriencode }}%0A%0A{{ self.translated_title | urlencode | iriencode }}&amp;hashtags=yumekasaito,{{ bekind | urlencode | iriencode }}"
                target="_blank">
                <img src="{% static 'images/vendor/twitter.svg' %}" alt="Twitter" />
            </a>
        </li>
        <li>
            <a data-label="{% trans 'Share' %}"
                href="https://social-plugins.line.me/lineit/share?url={{ self.full_url | urlencode:'' | iriencode }}"
                target="_blank">
                <img src="{% static 'images/vendor/line.svg' %}" alt="LINE" />
            </a>
        </li>
        <li>
            <a data-label="{% trans 'Share' %}"
                href="https://api.whatsapp.com/send?text={{ message | urlencode | iriencode }}%0A%0A{{ self.translated_title | urlencode | iriencode }}%20-%20{{ self.full_url | urlencode:'' | iriencode }}"
                target="_blank">
                <img src="{% static 'images/vendor/whatsapp.svg' %}" alt="WhatsApp" />
            </a>
        </li>
        <li>
            <a data-bind="copy-url" data-label="{% trans 'Copy' %}" data-label-copy="{% trans 'Copy' %}"
                data-label-copied="{% trans 'Copied' %}">
                <img src="{% static 'images/copy.svg' %}" alt="Copy Link" />
            </a>
        </li>
        <li>
            <a data-label="{% trans 'Email' %}"
                href="mailto://?to=&amp;subject={{ self.translated_title }}&amp;body={{ message | urlencode | iriencode }}%0A%0A{{ self.translated_title }} - {{ self.full_url }}"
                target="_blank">
                <img src="{% static 'images/email.svg' %}" alt="{% trans 'Email' %}" />
            </a>
        </li>
    </ul>
</section>
{% endblock %}